#editDeleteDiv{
  display: flex;
  width: 100%;
  max-width: 450px;
  justify-content: space-around;
  z-index: 1;
  /* align-items: center; */
  /* height: 30px; */
}

#editFormDiv {
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
  border: 1px solid rgb(0, 255, 179);
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px rgb(0, 255, 179);
  padding: 10px;
  transition: height 0.5s ease-in 0.3s;
  color: white;
  /* height: 300px; */
}

#editForm > input {
  background-color: rgb(38, 102, 134);
  border: 1px solid rgb(0, 255, 179);
  border-radius: 3px;
  box-shadow: inset 0px 0px 4px rgb(0, 255, 179);
  color: white;
  width: 80%;
  font-size: 1em;
}

#cancelSubmitDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#editSongButton {
  background-color: transparent;
  color: rgb(0, 195, 255);
}

#deleteSongButton {
  background-color: transparent;
  color: rgb(0, 195, 255);
}


#editForm {
  width: 400px;
  margin-bottom: 0px;
}

#cancelSubmitDiv > button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 98);
}
