.heartButton {
  background-color: transparent;
  height: 40px;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

#heartIcon {
  height: 10px;
  width: 10px;
}

.notHearted {
  fill: grey;
  transition: .3s;
  height: 40px;
  width: 40px;
}

.notHearted:hover {
  fill: rgba(255, 0, 98, 0.496);
}

.hearted {
  fill: rgb(255, 0, 98);
  transition: .3s;
  height: 40px;
  width: 40px;
}

.hearted:hover {
  fill: rgba(255, 0, 98, 0.496);
}

.heartButton:hover {
  background-color: transparent;
}

#heartedContainer {
  margin-top: 16px;
  padding: 0px 10px 0px 0px;
  border: 1px solid rgb(0, 255, 179);
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px rgb(0, 255, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
}
