.heartButton {
  background-color: transparent;
  height: 40px;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

#heartIcon {
  height: 10px;
  width: 10px;
}

.notHearted {
  fill: grey;
  transition: .3s;
  height: 30px;
  width: 30px;
}

.notHearted:hover {
  fill: rgba(255, 0, 98, 0.496);
}

.hearted {
  fill: rgb(255, 0, 98);
  transition: .3s;
  height: 30px;
  width: 30px;
}

.hearted:hover {
  fill: rgba(255, 0, 98, 0.496);
}

.heartButton:hover {
  background-color: transparent;
}
