html {
  background-image: url("./images/audioHazeBackgroundblock.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  padding: 100px 0 0;
  overflow: hidden;

}

.root {
  margin: 0;
  padding: 100px 0 0;
}
