#sakura > g > path,
#sakura > g > polygon {
  /* animation: spin 11.7s forwards infinite; */
  -webkit-transform-origin-x: 75px;
  -webkit-transform-origin-y: 75px;
}

#petal-1 {
  animation: grow 1s forwards infinite;
}
#petal-2 {
  animation: grow 1s .2s forwards infinite;
}
#petal-3 {
  animation: grow 1s .4s forwards infinite;
}
#petal-4 {
  animation: grow 1s .6s forwards infinite;
}
#petal-5 {
  animation: grow 1s .8s forwards infinite;
}

#logo {
  /* transform-box: fill-box; */
  /* transform: rotate(0deg); */

}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
