#signupFormContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.formDiv {
  min-height: fit-content;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgba(255, 0, 98, 0.705);
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px rgb(255, 0, 98);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

form > input {
  background-color: rgb(30, 0, 27);
  border: 2px solid rgb(255, 0, 98);
  border-radius: 3px;
  box-shadow: inset 0px 0px 4px rgb(255, 0, 98);
  color: white;
  width: 80%;
}

textarea:focus, input:focus{
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-width: 300px;
  font-weight: bold;
  margin-bottom: 50px;
}

input {
  /* border-radius: 5px;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  min-width: 50%; */
}

ul {
  text-align: center;
  padding-left: 0px;
}

li {
  list-style: none;
}

.title {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(255, 0, 98);
  transition: .2s;
}

button:hover{
  background-color: rgb(208, 208, 208)
}

button:active{
  transform: scale(.9);
}
