#mainSongDetailContent {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 80px;
}

#songDetailBlade {
  border: 1px solid rgba(255, 0, 98, 0.705);
  box-shadow: inset 0px 0px 10px rgb(255, 0, 98);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.97);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 800px;
  /* min-width: 490px; */
  margin-bottom: 20px;
  padding: 20px;
  height: max-content;
  margin-bottom: 80px;
}

#titleArtistPlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;

}

#titleArtist {
  width: fit-content;
}

#songTitle {
  color: white;
  font-size: 2em;
  width: fit-content;
  width: 100%;
}

#songArtist {
  color: rgb(110, 185, 255);
  font-size: 1em;
  width: 100%;
}

.imagePlay {
  box-shadow: 0px 0px 10px rgb(255, 0, 98);
}

#commentLoginButton {
  margin-top: 10px;
  margin-bottom: 0px;
  z-index: 1;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(255, 0, 98);
  transition: .2s;
  font-size: .9em;
  font-weight: normal;
  height: fit-content;
}

#heartedContainer {
  margin-top: 16px;
  padding: 0px 0px 0px 10px;
  border: 1px solid rgb(0, 255, 179);
  border-radius: 3px;
  box-shadow: inset 0px 0px 10px rgb(0, 255, 179);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
}

.spacerDiv {
  height: 200px;
  pointer-events: none;
  /* margin-top: 10px; */
}
